body {
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.section_main {
	padding-top: 64px;
	padding-bottom: 130px;
	background: #eff0f2;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
}

.logo {
	margin-right: calc(100% - 148px);
}

.main_title {
	text-align: center;
	color: #505050;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 58px;
	letter-spacing: 2.3px;
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	margin-top: 190.8px;
	margin-bottom: 137px;
}

.main_title::after {
	position: absolute;
	content: url(../img/juice.png);
	transform: translate(-85px, 224px);
}

.main_title span {
	background: rgba(118, 244, 234, 0.5);
	padding-left: 10px;
	padding-right: 10px;
}

.btn_first {
	color: rgba(0,0,0,0.6);
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-decoration: none;
	border-radius: 2px;
	border: 2px solid rgba(0,0,0,0.5);
	display: block;
	margin: 0 auto;
	width: 232px;
	text-align: center;
	transition: all 0.3s ease;
}

.btn_first:hover {
	background: rgba(118, 244, 234, 0.5);
	border: 2px solid rgba(0,0,0,0.0);
	color: rgba(0,0,0,0.5);
}

.btn_first:active {
	box-shadow: 0px 0px 30px rgba(0,0,0,0.1) inset;
}

.section_about {
	padding-top: 129px;
	background: #f8fafa;
	padding-bottom: 110px;
}

h2 {
	color: rgba(0,0,0,0.9);
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 28px;
	letter-spacing: 2.28px;
	margin: 0;
}

.about_title_text {
	font-family: 'Merriweather', serif;
	letter-spacing: 1.08px;
	text-align: center;
	color: rgba(0,0,0,0.62);
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 138px;
}

.about__img {
	margin-left: 40px;
	text-align: center;
	display: inline-block;
	max-width: 479px;
	width: 100%;
	width: 49%;
}

.checkbox {
	margin-top: 43px;

}

.images {
	background: url(../img/bg.png) no-repeat center center;
}

.images img {
	box-shadow:2px 4px 30px rgba(0, 0, 0, 0.2);
}

.content_about {
	color: rgba(0,0,0,0.7);
	vertical-align: top;
	width: 45%;
	display: inline-block;
	text-align: justify;
	padding-left: 68px;
}


.content__title {
	font-family: 'Merriweather', serif;
	margin-top: 0px;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.content__text {
	font-family: 'Raleway', sans-serif;
	max-width: 474px;
	width: 100%;
	font-style: 16px;
	line-height: 28px;
	margin-bottom: 38px;
}

.content__title_second {
	font-size: 17px;
}

[type="radio"] {
	display: none;
}

label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background-color: #d0d0d0;
}

[type="radio"]:checked+label {
	border-radius: 3px;
	background-color: #71f6eb;
	transition: all 0.3s ease;
}

.section_works {
	background: #fff;
	padding-top: 129px;
	padding-bottom: 120px;
}

.work__img img {
	width: calc((100% - 30px) / 3);
}

.work__img img:nth-child(3n+2) {
	margin-left: 11px;
	margin-right: 11px;
}

.work__img img:nth-child(-n+3) {
	margin-bottom: 11px;
}

/*------------------------------------------------*/


.section_services {
	background: #f9fbfb;
	padding-top: 129px;
	padding-bottom: 125px;
}

.services__title_text {
	font-family: 'Merriweather', serif;
	letter-spacing: 1.08px;
	text-align: center;
	color: rgba(0,0,0,0.62);
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 123px;
}

.examples h3 {
	margin: 0;
}

.overlay_tea_text
	{
		margin: 0;
	}

	/*-------------img_tea-----------------*/

.examples img {
	width: 100%;
}

.img_tea {
	width: calc((100% - 488px) * 1);
	margin-right: 10px;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}

.overlay_tea {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 4px);
	background: rgba(109, 246, 235, 0.97);
	transition: all ease 0.3s;
	opacity: 0;
	padding: 63px 120px 0px 66px;
}

.img_tea:hover .overlay_tea {
	opacity: 1;
}

.overlay_tea_title {
	color: rgba(0,0,0, 0.83);
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	letter-spacing: 1.2px;
}

.overlay_tea_text {
	margin-top: 32px;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: rgba(0,0,0, 0.75);
	letter-spacing: 0.4px;
	line-height: 28px;
}

.overlay_cross a {
	text-decoration: none;
	color: rgba(0,0,0, 0.4);
	font-size: 25px;
	position: relative;
	top: 56px;
	left: 0px;
}

.overlay_cross a:hover {
	color: rgba(0,0,0, 0.9);
}

/*-------------------img_documents--------------*/

.img_documents {
	position: relative;
	width: calc((100% - 666px) * 1);
	display: inline-block;
}

.overlay_documents {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 4px);
	background: rgba(0,0,0, 0.6);
	transition: all ease 0.3s;
	opacity: 0;
}

.img_documents:hover .overlay_documents {
	opacity: 1;
}

.overlay_title {
	color: rgba(255,255, 255, 0.95);
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	letter-spacing: 1px;
}

.overlay_text {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: rgba(255,255, 255, 0.9);
	letter-spacing: 0.32px;
	line-height: 28px;
	margin-bottom: 46px;
}

.wrap_overlay {
	position: absolute;
	bottom: 55px;
	padding-right: 95px;
	padding-left: 68px;
}

.overlay_button a {
	color: rgba(249, 251, 251, 0.8);
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.72px;
}

.overlay_button a:hover {
	color: rgba(109, 246, 235, 0.8);
}

/*-------------------------Laptop----------------------*/

.img_laptop {
	position: relative;
	width: calc((100% - 488px) * 1);
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.overlay_laptop {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 4px);
	background: rgba(0,0,0, 0.65);
	transition: all ease 0.3s;
	opacity: 0;
}


.img_laptop:hover .overlay_laptop {
	opacity: 1;
}


/*------------------------img_chair------------------------*/


.img_chair {
	position: relative;
	width: calc((100% - 666px) * 1);
	display: inline-block;
	margin-bottom: 10px;
}

.overlay_chair {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 4px);
	background: rgba(0,0,0, 0.6);
	transition: all ease 0.3s;
	opacity: 0;
}

.img_chair:hover .overlay_chair {
	opacity: 1;
}

/*------------------------------img_bottle-----------------------*/


.img_bottle {
	position: relative;
	width: calc((100% - 666px) * 1);
	display: inline-block;
	margin-right: 10px;
}

.overlay_bottle {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 4px);
	background: rgba(0,0,0, 0.65);
	transition: all ease 0.3s;
	opacity: 0;
}

.img_bottle:hover .overlay_bottle {
	opacity: 1;
}

/*------------------------------img_cups------------------------*/


.img_cups {
	position: relative;
	width: calc((100% - 488px) * 1);
	display: inline-block;
}

.overlay_cups {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 4px);
	background: rgba(0,0,0, 0.65);
	transition: all ease 0.3s;
	opacity: 0;
}

.img_cups:hover .overlay_cups {
	opacity: 1;
}

/*---------------------section_team------------------*/


.section_team {
	padding-top: 122px;
	padding-bottom: 118px;
}

.team_title_text {
	font-family: 'Merriweather', serif;
	letter-spacing: 1.08px;
	text-align: center;
	color: rgba(0,0,0,0.62);
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 123px;
}

.img_team {
	position: relative;
	display: inline-block;
}

.img_team:hover .overlay_team {
	opacity: 1;
}

.overlay_team {
	position: absolute;
	top: 180px;
	left: 18px;
	width: 335px;
	box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
	border-radius: 2px;
	background: rgba(109, 246, 235, 0.98);
	transition: all ease 0.3s;
	opacity: 0;
	padding: 13px 50px 34px 38px;
}

.overlay_team:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 40px solid rgba(109, 246, 235, 0.98);
	position: relative;
	top: -55px;
	left: -30px;
}

.name_human {
	color: rgba(0,0,0, 0.8);
	font-family: 'Merriweather', serif;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 15px;

}

.name_human span {
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-weight: 500;
	font-style: italic;
	text-transform: none;
	letter-spacing: 0.45px;
	color: rgba(118, 112, 112, 0.95);
}

.team_comment {
	margin-top: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-bottom: 32px;
	letter-spacing: 0.16px;
	color: rgba(0,0,0, 0.8);
	line-height: 24px;
}

.social_block {
	position: absolute;
	bottom: 22px;
	left: 30px;
}

.social_button {
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align:center;
	line-height: 25px;
	border-radius: 50%;
	transition: all ease 0.35s;
}

.social_button:hover {
	background: rgba(255,255,255, 0.8);
}

.img_team {
	width: calc((100% - 30px) / 3);
}

.img_team:nth-child(3n+2) {
	margin-left: 11px;
	margin-right: 11px;
}

.img_team:nth-child(-n+3) {
	margin-bottom: 11px;
}

.img_team_human {
	width: 100%;
}